<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Department</title>
</head>
<body>
<a href="/create-department"> Create Department</a>
<h1>List Department</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="department :${departments}">
        <tr>
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td><a th:href="@{/edit-department/__${department.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-department/__${department.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>